body {
  background: lightsteelblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: red;
  text-align: center;
  width: 100%;
}

h1:hover {
  color: green;
  text-align: center;
  width: 100%;
}

.assign {
  padding: 10px;
  margin: 10px;
  background-color: gold;
  border-radius: 20px;
  width: 20%
  box-shadow: 8px 8px purple;
  display: block;
}
.assign img {
  width: 200px;
  padding: 10px;
  border: 2px dashed midnightblue;
}

.assign img:hover {
  width: 200px;
  margin: 10px;
  border: 2px dotted brown;
}

a {
  text-decoration: none;
  color: midnightblue;
}

a:hover {
  text-decoration: none;
  color: salmon;
}

